@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Comfortaa);

html, body {
    min-height: 100%;
}
  
.splitScreen {
    display: flex;
    flex-direction: row;
    min-height: 100%;
}
  
.leftHalf {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 50%;
    background-color:	#a4c2f4;
}
  
.rightHalf {
    display: flex;
    flex-direction: column;
    min-height: 650px;
    width: 50%;
    background-color: white;
}
  
.title {
    padding-top: 30px;
    color: #a4c2f4;
    font-family: Pacifico;
    text-align: center;
    font-size: 90px;
}
  
.btnContainer {
    display: flex;
    flex-direction: column;
}
  
.button {
    align-self: center;
    border-radius: 15px;
    height: 70px;
    width: 230px;
    background-color:lightgrey;
    font-size: 24px;
    font-weight: bold;
    font-family: Comfortaa;
}
  
.link {
    align-self: center;
}

#signUpBtn {
    background-color: #cfe2f3;
}
  
#loginBtn {
    margin-top: 10px;
    background-color: #9fc5e8;
}

.txtContainer {
    margin-top: 15%;
    width: 80%;
}

.imgContainer {
    margin-top: 20%;
}

.adText {
    margin-top: 15%;
    margin-left: 30%;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: Comfortaa;
}

.dogIcon {
    margin-top: 35%;
    margin-left: 150%;
    height: 70px;
    width: 70px;
}

#forgotPasswordLink {
    align-self: center;
    margin-left: 190px;
    margin-top: 3px;
    font-size: 12px;
    font-weight: bold;
    font-family: Comfortaa;
}

.loginInput {
    align-self: center;
    margin-top: 5px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    font-family: Comfortaa;
    color: black;
    background-color: #f3f3f3;
    height: 40px;
    width: 300px;
}

.signUpInput {
    align-self: center;
    margin-top: -5px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    font-family: Comfortaa;
    color: black;
    background-color: #f3f3f3;
    height: 40px;
    width: 300px;
}

.buttonContainer {
    align-self: center;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.loginButtons {
    align-self: center;
    margin: 5px;
    border-radius: 15px;
    height: 50px;
    width: 150px;
    background-color:lightgrey;
    font-size: 24px;
    font-weight: bold;
    font-family: Comfortaa;
}

#loginConfirmBtn {
    background-color: #9fc5e8;
}

.signUp {
    margin-top: -40px;
    display: flex;
    flex-direction: column;
}

.signUpInstructions {
    padding-left: 165px;
    font-size: 12px;
    font-weight: bold;
    font-family: Comfortaa;
    color:#3c78d8;
}