.userpagebody {
    display: flex;
    flex-flow: column nowrap;
}

.userInfo{
    height: fit-content;
    width: fit-content;
    align-self: center;
    text-align: center;
    font-family: Comfortaa;
}

.userInfo img {
    margin-top: 20px;
    border-radius: 75px;
}

.name {
    margin-top: 10px;
    font-size: 20px;
}

.username {
    margin-top: -15px;
    font-size: 12px;
}

.userpagebody > .userPosts{
    flex: 1 1 auto;
    background-color: red;
}

