.userPageHeader {
    display: flex;
    flex-flow: column nowrap;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #a4c2f4;
    width: 100%;
    text-align: center;
}

.titleContainer{
    position: absolute;
    text-align: center;
    align-self: center;
}

.navbar img{
    height: 70px;
    width: 70px;
}

.Title {
    text-decoration: none;
    font-family: Pacifico;
    color:black;
    font-size: xx-large;
}

.searchbar-container{
    display: flex;
    align-self: center;
    flex-direction: row;
    margin-left: auto;
}

.searchbar-container input{
    font-family: Comfortaa;
    align-self: center;
    margin-right: 20px;
    border-radius: 75px;
    height: 30px;
    width: 210px;
}

.searchbar-container img {
    align-self: center;
    margin-right: 10px;
    height: 30px;
    width: 40px;
}